/* TATETI */
.tateti {
    display: grid;
    grid-template-columns: 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px;
    column-gap: 4px;
    row-gap: 4px;
    margin: 8px;
    width: fit-content;
    height: auto;
    background-color: var(--primary--grey);
}

.tateti--button {
    width: 100px;
    height: 100px;
    border: none;
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--tertiary--grey);
}

.tateti--button:hover {
    background-color: var(--secondary--grey);
}

.tateti--button[class='tateti--button win'] {
    background-color: var(--win);
}

.tateti--button[class='tateti--button lose'] {
    background-color: var(--lose);
}